body{
    background-color: aliceblue;
}
h4{
    margin-top: 30px;
}
p{
	text-transform: lowercase;
	color: #9b9b9b;
	font-weight: 100;
	/* font-size: 19px; */
	line-height: 28px;
    letter-spacing: 2px;
    padding-top: 30px;
}
h2{
    margin-top: 60px;
}