<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"> User's name </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">About Me</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/movieblog">MovieBlog</a></li>
            </ul>
            <div class="col-md-4 navbar-right">
                <form>
                    <div class="row">
                        <div class="col-md-8">
                            <input type="text" name="movie_query" placeholder="Search for a Movie" class="form-control">
                        </div>
                        <div class="col-md-4">
                            <input type="submit"  value="Submit" class="btn btn-default">
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>